@import url('http://fonts.cdnfonts.com/css/gotham');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
}
@media (max-width:1200px){
    /* .container{
        max-width: 970px;
    } */
}
@media (max-width:992px){
    /* .container{
        max-width: 750px;
    } */
}
@media (max-width:767px){
    /* .container{
        max-width: none;
    } */
    
}
html, body{
    scroll-behavior: smooth;
}
.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 60px;
    position: fixed;
    background-color: transparent;
    z-index: 9999;
}
.nav-logo{
    width: 130px;
    padding: 3px 0 ;
}
.nav-links-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links-container li a{
    padding: 10px 15px;
    border-radius: 6px;
    color: black;
}
.nav-links-container li a:hover{
    background-color: rgb(51, 51, 51, 0.15);
}
li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.homepage-hero{
    background-image: url(./content/model3.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.homepage-title{
    font-size: 48px;
    text-align: center;
}
.homepage-text-container{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.homepage-text-container a {
    color: white;
    border-bottom: 1px solid white;
    transition-duration: 0.3s;
}
.homepage-text-container a:hover{
    border-bottom: 2px solid white;
}
.homepage-small{
    display: flex;
}
.button-container{
    margin-bottom: -170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.button-container a{
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black-btn{
    background-color: rgba(23, 26, 32, 0.8);
    color: white;
}
.white-btn{
    background-color: rgb(255, 255, 255, 0.8);
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.downarrow{
    position: absolute;
    bottom: 10px;
    text-align: center;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
}

.downarrow:hover{
    cursor: pointer;
}